html,body {
height: 140%;
width: 100%;

font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div{display: flex;}
.header  {background-color: #1F2937;
color:aliceblue;
text-align: center;
width: 50%;
height: 4%;
float :left;

}
.logo{
    margin-left: 100px;
    font-size: small;
    
}
.rightheader {
    background-color: #1F2937;
    color: aliceblue;
    float :right;
    width:50%;
    height: 4%;
    display :inline;
}
.toprow{display :inline;}
.top{
    float :right;
    background-color: #1F2937;
    color :aliceblue;
    margin-right: 50px;
    font-size: 18px;

}
.one{
    float:left;
    width: 50%;
    height: 20%;
    background:#1F2937;
    color:aliceblue;
    display: block;

}
   .text1{
    margin-left:100px;
    margin-right:100px;
    font-size: 48px;
   }
   .text2{
    margin-left: 100px;
    margin-right: 250px;
    font-size: 18px;
    filter: contrast(50%);
   }
   

.button{
    border:none;
    background-color: #3882f6;
    color:aliceblue;
    margin-left: 100px;
    height: 30px;
    width:100px;
    border-radius: 12px;
}
.two{
    background-color: #1F2937;
    float:right;
    width:50%;
    height:20%;
}
   .box{
    height:250px;
    width: 500px;
    background-color: rgba(216, 216, 221, 0.312);
    margin-top: 35px;

   }
   .boxtext{
    color:aliceblue;
    filter:contrast(50%);
    margin-left:135px;
    margin-top:115px;
    
   }
   .three{
    
    height: 10%;
    width: 100%;
    
   }
   .words{
    font-weight: bolder;
    color:black;
    margin-left: 35%;
    font-size: 36px;
   }
.pics{
    display:inline-flex; 
}
.pic{
    margin-top: 30px;
    height:200px;
    width:180px;
    border: 3px solid #3882f6;
    
    border-radius: 11px;
    margin-left: 120px;
}
.four{
    display:inline-flex;}
    .underpic{
    height:200px;
    width:180px;
    margin-left:125px;
    text-align: center;
    filter:contrast(50%)
}
.five{
    background-color: #E5E7EB;
    height:10%;
}
   .quote{
    font-size: 36px;
    text-align: center;
    margin-left:125px;
    margin-right:125px;
    font-style: italic;
    filter:contrast(50%)
   }
   .signature{
    background-color: #E5E7EB;

   }
   .sig{
    margin-left: 65%;
   }
   
    
.div{display:flex;}

    .bottom-page{
        margin-top: 100px;
    }
   
   .call{
    height:160px;
    float:left;
    width:563px;
    background-color:#3882f6;
    border: 0px solid #3882f6;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    display:inline;
    color:aliceblue;
    margin-left:150px;
    
   }
   .action{
    margin-left:30px;
    margin-top: 35px;
    
   }
.signup{
    margin-left:30px;
}
   .button2{
    float:right;
    background-color:#3882f6;
    width:562px;
    height:160px;
    border: 0px solid #3882f6;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    margin-right:150px;
   }
   .abutton{
    margin-left:150px;
    margin-top:50px;
    width:250px;
    height:40px;
    background-color: #3882f6;
    color:aliceblue;
    border: 4px;
    border:4px aliceblue solid;
    border-radius: 11px;

   }
    

    
   

