html,body {
    height: 100%;
width: 100%;
}

div {display :flex;

}
.header  {background-color: #1F2937;
color:aliceblue;
text-align: center;
width: 50%;
height: 4%;
float :left;

}
.logo{
    margin-left: 100px;
}
.rightheader {
    background-color: #1F2937;
    color: aliceblue;
    float :right;
    width:50%;
    height: 4%;
    display :inline;
}
.toprow{display :inline;}
.top{
    float :right;
    background-color: #1F2937;
    color :aliceblue;
    margin-right: 50px;
    font-size: 18px;

}
.one{
    float:left;
    width: 50%;
    height: 38%;
    background:#1F2937;
    color:aliceblue;
    display: block;

}
   .text1{
    margin-left:100px;
    margin-right:100px;
    font-size: 48px;
   }
   .text2{
    margin-left: 100px;
    margin-right: 250px;
    font-size: 18px;
    filter: contrast(50%);
   }
   

.button{
    border:none;
    background-color: #3882f6;
    color:aliceblue;
    margin-left: 100px;
    height: 30px;
    width:100px;
    border-radius: 12px;
    
}

   